.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  /* border: 1px solid red; */
  background: white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 99999;
}
/* * {
  cursor: none;
} */
.change .circle:hover {
  background: white;
}
.cursor {
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
@media screen and (max-width: 960px) {
  .circle {
    display: none;
  }
  /* * {
    cursor:auto;
  } */
}
